.korzin{
    width: 800px;
    height: 800px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
  
    overflow: initial;
    overflow-y: scroll;
}
.img-k{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}
.tot{
    font-size: 30px;
}