 *{
  transition: all 1s ease;
 }
 :root{
  --text-color: #000;
  --bg-color: #ffffff;
 }

 .theme-dark{
  --text-color: #ffffff;
  --bg-color: #000;
 }

 .content-bg-color{
  background-color: var(--bg-color);
 }
h1{
  color: var(--text-color);
}
 .main-content{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }